.rn-creator-title-area.rn-section-gapTop
  .container
    .row.align-items-center
      .col-lg-6.col-md-6.col-sm-6.col-12
        h2.title.mb--0 Our Best Creators
      .col-lg-6.col-md-6.col-sm-6.col-12.mt_mobile--15
        .shortby-default.text-start.text-sm-end
          label.filter-leble SHOT BY:
          select
            option(data-display='Top Rated') Top Rated
            option(value='1') Best Seller
            option(value='2') Recent Added
            option(value='3') Varified
    .row.g-5.mt--30.creator-list-wrapper
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-1.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Brodband
              span.count-number
                | $2500,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-2.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Marks
              span.count-number
                | $2200,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-3.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name JOne Lee
              span.count-number
                | $900,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-4.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Malinga
              span.count-number
                | $2400,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-5.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Favis
              span.count-number
                | $290,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-6.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Fakir
              span.count-number
                | $299,00,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-7.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Sajib
              span.count-number
                | $1100,000
          a.over-link(href='author.html')
      // End single top-seller
      // start single top-seller
      .creator-single.col-lg-3.col-md-4.col-sm-6
        .top-seller-inner-one.explore
          .top-seller-wrapper
            .thumbnail.varified
              a(href='author.html')
                img(src='/images/client/client-9.png' alt='Nft_Profile')
            .top-seller-content
              a(href='author.html')
                h6.name Mikel
              span.count-number
                | $2500,000
          a.over-link(href='author.html')
      // End single top-seller
