// Start Footer Area
.copy-right-one.ptb--20.bg-color--1
  .container
    .row.align-items-center
      .col-lg-6.col-md-12.col-sm-12
        .copyright-left
          span &copy;2022 tomfuertes.eth, Inc. All rights reserved.
          //- ul.privacy
          //-   li
          //-     a(href='terms-condition.html') Terms
          //-   li
          //-     a(href='privacy-policy.html') Privacy Policy
      .col-lg-6.col-md-12.col-sm-12
        .copyright-right
          ul.social-copyright
            //- li
            //-   a(href='#')
            //-     i(data-feather='facebook')
            li
              a(href='https://twitter.com/thisbetom')
                i(data-feather='twitter')
            li
              a(href='https://www.reddit.com/u/thisbetom')
                i(data-feather='instagram')
            li
              a(href='https://www.linkedin.com/in/tomfuertes')
                i(data-feather='linkedin')
// End Footer Area
