// Modal
#shareModal.rn-popup-modal.share-modal-wrapper.modal.fade(tabindex='-1' aria-hidden='true')
  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
    i(data-feather='x')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content.share-wrapper
      .modal-header.share-area
        h5.modal-title Share this NFT
      .modal-body
        ul.social-share-default
          li
            a(href='#')
              span.icon
                i(data-feather='facebook')
              span.text facebook
          li
            a(href='#')
              span.icon
                i(data-feather='twitter')
              span.text twitter
          li
            a(href='#')
              span.icon
                i(data-feather='linkedin')
              span.text linkedin
          li
            a(href='#')
              span.icon
                i(data-feather='instagram')
              span.text instagram
          li
            a(href='#')
              span.icon
                i(data-feather='youtube')
              span.text youtube
