// collection area Start
.rn-collection-area.rn-section-gapTop
  .container
    .row.mb--50.align-items-center
      .col-lg-6.col-md-6.col-sm-6.col-12
        h3.title.mb--0(data-sal-delay='150' data-sal='slide-up' data-sal-duration='800') Top Collection
      .col-lg-6.col-md-6.col-sm-6.col-12.mt_mobile--15
        .view-more-btn.text-start.text-sm-end(data-sal-delay='150' data-sal='slide-up' data-sal-duration='800')
          a.btn-transparent(href='#')
            | VIEW ALL
            i(data-feather='arrow-right')
    .row.g-5
      // start single collention
      .col-lg-4.col-xl-3.col-md-6.col-sm-6.col-12(data-sal='slide-up' data-sal-delay='150' data-sal-duration='800')
        a.rn-collection-inner-one(href='product-details.html')
          .collection-wrapper
            .collection-big-thumbnail
              img(src='/images/collection/collection-lg-01.jpg' alt='Nft_Profile')
            .collenction-small-thumbnail
              img(src='/images/collection/collection-sm-01.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-02.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-03.jpg' alt='Nft_Profile')
            .collection-profile
              img(src='/images/client/client-15.png' alt='Nft_Profile')
            .collection-deg
              h6.title Cubic Trad
              span.items 27 Items
      // End single collention
      // start single collention
      .col-lg-4.col-xl-3.col-md-6.col-sm-6.col-12(data-sal='slide-up' data-sal-delay='200' data-sal-duration='800')
        a.rn-collection-inner-one(href='product-details.html')
          .collection-wrapper
            .collection-big-thumbnail
              img(src='/images/collection/collection-lg-03.jpg' alt='Nft_Profile')
            .collenction-small-thumbnail
              img(src='/images/collection/collection-sm-04.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-05.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-06.jpg' alt='Nft_Profile')
            .collection-profile
              img(src='/images/client/client-12.png' alt='Nft_Profile')
            .collection-deg
              h6.title Diamond Dog
              span.items 20 Items
      // End single collention
      // start single collention
      .col-lg-4.col-xl-3.col-md-6.col-sm-6.col-12(data-sal='slide-up' data-sal-delay='250' data-sal-duration='800')
        a.rn-collection-inner-one(href='product-details.html')
          .collection-wrapper
            .collection-big-thumbnail
              img(src='/images/collection/collection-lg-02.jpg' alt='Nft_Profile')
            .collenction-small-thumbnail
              img(src='/images/collection/collection-sm-07.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-08.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-09.jpg' alt='Nft_Profile')
            .collection-profile
              img(src='/images/client/client-13.png' alt='Nft_Profile')
            .collection-deg
              h6.title Morgan11
              span.items 15 Items
      // End single collention
      // start single collention
      .col-lg-4.col-xl-3.col-md-6.col-sm-6.col-12(data-sal='slide-up' data-sal-delay='350' data-sal-duration='800')
        a.rn-collection-inner-one(href='product-details.html')
          .collection-wrapper
            .collection-big-thumbnail
              img(src='/images/collection/collection-lg-04.jpg' alt='Nft_Profile')
            .collenction-small-thumbnail
              img(src='/images/collection/collection-sm-10.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-11.jpg' alt='Nft_Profile')
              img(src='/images/collection/collection-sm-12.jpg' alt='Nft_Profile')
            .collection-profile
              img(src='/images/client/client-14.png' alt='Nft_Profile')
            .collection-deg
              h6.title Orthogon#720
              span.items 10 Items
      // End single collention
// collection area End
