extends layout.pug

block content
  .rn-not-found-area.rn-section-gapTop
    .container
      .row
        .col-lg-12
          .rn-not-found-wrapper
            h2.large-title 404
            h3.title Page not found!
            p The page you are looking for not available.
            a.btn.btn-primary.btn-large(href='/') Go Back To Home
